<div class="container participants-list">
  <h2>List of Participants</h2>
  <table class="table" style="border-bottom: blue solid 15px; border-right: rgb(25, 0, 255) solid 15px; border-top: rgb(25, 0, 255) solid 15px; border-left: blue solid 15px;">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Position</th>
        <th>Company</th>
      </tr>
    </thead>
    <tbody *ngFor="let participant of participants">
      <tr>
        <td>{{ participant.fullName }}</td>
        <td>{{ participant.position }}</td>
        <td>{{ participant.company }}</td>
      </tr>
    </tbody>
  </table>

  <button block class="btn btn-success" style=" color:white" data-toggle="modal" data-target="#Modal">Add
    Participant</button>
</div>

<!-- Modal -->
<div id="Modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="border-top: blue solid 15px; border-bottom: blue solid 15px">
      <div class="modal-header">
        <h4 class="modal-title">Add Participant</h4>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <form autocomplete="off" novalidate #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
          <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" [ngModel]="fullName" name="fullName" placeholder="Full Name..." class="form-control">
          </div>
          <div class="form-group">
            <label for="position">Position</label>
            <input type="text" [ngModel]="position" name="position" placeholder="Position..." class="form-control">
          </div>
          <div class="form-group">
            <label for="company">Company</label>
            <input type="text" [ngModel]="company" name="company" placeholder="Company..." class="form-control">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button class="btn btn-success" type="submit" data-toggle="modal" data-target="#Modal">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>